@use "../base/colors" as *;

.prep-time {
  background-color: hsl(332, 51%, 32%, 0.1);
  padding: 1.4rem;
  border-radius: 10px;
  margin-bottom: 1rem;

  h3 {
    color: $darkRaspberry;
  }

  b {
    color: $wengeBrown;
  }

  li:last-child {
    margin-bottom: -0.6rem;
  }
}
